%h2 Игры и плагины
%p Здесь все Ваши застрахованные игры.
%table{width: '100%'}
  %thead
    %tr
      %th{width: '5%'}
      %th{width: '10%'} Название
      %th{width: '10%'} Настройки
      %th{width: '10%'} Статус
      %th{width: '15%'}
  %tbody
    - @games.each do |e|
      %tr
        %td{nowrap: true}
          = "##{e.id}"
        %td{nowrap: true}
          = "#{e.title}"
        %td{nowrap: true}
          %code= "#{e.config}"
        %td{nowrap: true}
          = "#{e.status}"
        %td
          %button.btn-small Удалить
%form{:method=>'post', :action=>'/add_game', autocomplete: 'on', enctype: 'multipart/form-data'}
  %textarea{value: "", disabled: true, selected: true} Выберите город
