- if @items.nil?
  %p Здесь пусто.
- else
  %form{method: 'post', action: url('/delete_items')}
    %h3 Клады
    %p
      В этой таблице перечислены все клады бота.
      %span#controls.hide
        %br
        Выберите действие, чтобы применить к выбранным кладам
        %button.btn-small Удалить
        %button.btn-small.red-btn{onclick: "releaseItems(event);"} Отмена
    -#= partial "admin/item_search"
    %table{width: '100%'}
      %thead
        %th.no-wrap{width: '30px'}
          = "&#160;"
          -#%input#box_all{type: 'checkbox', onclick: "checkAll();"}
        %th.no-wrap{width: '20%'} Клад
        %th{width: '7%'} Кладман
        %th Город
        - if hb_bot.is_chief?
          %th Бот
        %th{width: '7%'} Вес
        %th{width: '7%'} Цена
        %th Покупатель
        %th Код
      %tbody
        - @items.each do |item|
          - p = Product[item.product]
          - t = Trade.find(item: item.id)
          %tr{name: 'item_cont',  id: "tr_#{item.id}", class: (item.status == 2 or item.status == 0) ? 'disputed' : ''}
            %td
              - if item.status == Item::ACTIVE
                %input{type: 'checkbox', name: 'item_boxes[]', value: item.id, onclick: "checkRow(this);"}
            %td
              %span.gray= "##{item.id}"
              - mule = Client[item.client]
              = icn(p.icon)
              - if hb_operator.is_admin?(hb_bot)
                %a.bold{onclick: "$('#item_#{item.id}').toggle()"}= p.russian
              - else
                = p.russian
            %td
              %a.blue.no-underline{href: url("/client/#{mule.id}")}= "@" + mule.username
            %td.no-wrap
              = District[item.district].russian
              %span.small.dark= City[item.city].russian
            - if hb_bot.is_chief?
              %td
                = icn(hb_bot.icon)
                = Bot[item.bot].title
            - sale = Trade.find(item: item.id)
            - if !sale.nil?
              = partial 'partials/sale', locals: {sale: sale, item: item, trade: t, product: p}
            - else
              = partial 'partials/not_sold', locals: {sale: sale, item: item, trade: t, product: p}
            %td
              = (!sale.nil? and !sale.code.nil?) ? "<img width='20px' src=#{url('/images/payments/'+ (Meth[sale.meth].nil? ? 'cash' : Meth[sale.meth].title.downcase)+ '.png')}>#{sale.code.gsub(',', '').truncate(20)}" : ''
          %tr{id: "item_#{item.id}", style: 'display: none'}
            %td{colspan: 8}
              - if !hb_operator.is_support?(hb_bot)
                %pre.code
                  = human_date_short(item.created) + ", " + human_time(item.created)
                  = "&#160;"
                  %a{href: item.photo}= item.photo
  %p
    = pagina @items
    = @items.current_page
    = "из"
    = @items.page_count
:javascript
  function releaseItems(event) {
    $('input:checked[type="checkbox"]').click();
    $("#controls").hide();
    event.preventDefault();
  }

  function checkRow(row) {
    $(row).parent().parent().toggleClass('checked');
    $('#controls').show();
  }

  function checkAll() {
    if ($("input:checked[type=\"checkbox\"]").length <= 1) {
      $('input[name=\"item_boxes\"]').attr('checked', true);
      $('#box-all').attr('checked', true);
      $('#controls').show();
    } else {
      $('input[name=\"item_boxes\"]').attr('checked', false);
      $('#box-all').attr('checked', false);
      $('#controls').hide();
    }
  }
