%h2 Включенные плагины
%p Здесь включение и выключение плагинов и статистика по ним.
%table{width: '100%'}
  %thead
    %tr
      %th{width: '15%'} Название
      %th{width: '50%'} Настройки
      %th.left{width: '20%'} Прогресс
      %th{width: '15%'}
  %tbody
    - if @games.count == 0
      %tr
        %td{colspan: '8'}
          Нет плагинов
    - else
      - @games.each do |e|
        -#- pl = Plugin[e[:plugin__id]]
        -#- ga = Gameplay[e[:game__id]]
        %tr
          -#%td{nowrap: true}
          -#  = "##{e.id}"
          %td{nowrap: true}
            %b.blue= "#{e.title}"
          %td{nowrap: true}
            - JSON.parse(e.config).to_hash.each do |key, value|
              %span.no-wrap
                %span.small.dark= key
                %b.dlighted.normal= value
          %td
            = "TSX::#{e.title.capitalize}".constantize::progress(e)
          %td
            - if e.status == Gameplay::ACTIVE
              %button.btn-small.red-btn{onclick: location("/stop_plugin/#{e.id}")}
                = "Выключить"
            - else
              %button.btn-small.green-btn{onclick: location("/stop_plugin/#{e.id}")}
              = "Включить"
%p Выберите и включите любой из доступных плагинов.
%form{:method=>'post', :action=>'/apply_plugin', autocomplete: 'on', enctype: 'multipart/form-data'}
  %select.text{id: 'plugin-choose', name: 'plugin',  onchange: 'update_plugin_config()'}
    %option{value: '0', disabled: true, selected: true} выберите плугин
    - @plugins.each do |p|
      %option{value: p.id}= "#{p.title}: #{p.desc}"
  %br
  -#- param_str = ''
  -#- JSON.parse(File.read("#{ROOT}/config/game_config_example.yml")).each do |key, value|
  -#  - param_str << "#{key}: '#{value}'\n"
  %textarea{rows: 5, cols: 80, id: 'config-box', name: 'config', placeholder: 'Конфигурация плагина', required: true, style: ''}
    настройки плагинов
  %br
  %input{type: 'submit', value: 'Добавить'}
:javascript
  function update_plugin_config() {
    $.get("#{url('/plugin_config/')}" + $('#plugin-choose').val()).
      done(function(data) {
        $('#config-box').html(data);
      })
  }
