%form{action: url('/settings'), method: 'post'}
  %input{type: 'hidden', name: 'overview_bot', value: @overview_bot.id}
  %h2 Настройки
  %p Настройки вашей учетной записи. Настройки бота автопродаж, настройки онлайн магазина.
  %h3 Токен авторизации
  %p
    Все что нужно для входа в личный кабинет это токен авторизации. Ваш токен авторизации ниже.
    %br
    Сохраните этот токен, так как никакой возможности восстановить его не будет.
  %p
    %b.big.blue= hb_operator.my_token
  - if hb_bot.activated == 0
    %h3 Открыть магазин
    %p
      Для того чтобы начать продажи, просто активируйте функции продавца.
    %p
      %form{action: url('/activate_shop'), method: 'post'}
        %input{type: 'submit', value: 'Активировать'}
  - if hb_operator.has_notify?(hb_bot)
    %h3 Сервисный бот
    %p
      Сервисный бот привязан к этой учетной записи. Теперь Вы будете получать
      %br
      уведомления в Телеграм. Это значительно ускорит проведение сделок.
    %p.big
      = icn('id')
      - n = Team.find(bot: hb_bot.id, client: hb_operator.id).notify
      %b= n
      = Client[n].username
  - else
    %h3 Сервисный бот
    %p
      Для того, чтобы быстро реагировать на запросы Ваших клиентов, зайдите в сервисный бот
      %a.bold.blue{href: "http://t.me/DarksideRobot"} @DarksideRobot.
      %br
      Введите токен авторизации. Пока доступны уведомления в мессенджере Телеграм.
  %h3 Общие настройки
  %input{style: 'width: auto', size: 25, type: 'text', name: 'support', value: hb_bot.support, required: true, placeholder: 'Телеграм службы поддержки'}
  %input{style: 'width: auto', size: 20, type: 'text', name: 'title', value: hb_bot.title, required: true, placeholder: 'Название магазина'}
  %input{style: 'width: auto', size: 20, type: 'text', name: 'avatar', value: hb_bot.avatar, required: true, placeholder: 'Аватар магазина'}
  %br
  %textarea{style: 'width: auto', cols: 80, rows: 6, name: 'description', required: true}= hb_bot.description
  %br
  %input{style: 'width: auto', size: 15, type: 'text', name: 'discount_period', value: hb_bot.discount_period, required: true, placeholder: 'Скидка через'}
  %input{style: 'width: auto', size: 15, type: 'text', name: 'discount', value: hb_bot.discount, required: true, placeholder: 'Скидка в процентах'}
  %input{type: 'text', size: '22', name: 'icon_old', value: hb_bot.icon_old, placeholder: 'Иконка для старых кладов'}

  %h3 Настройки Телеграм бота
  %input{style: 'width: auto', size: 20, type: 'text', name: 'tele', value: hb_bot.tele, required: true, placeholder: 'Ник бота'}
  %input{style: 'width: auto', size: 60, type: 'text', name: 'token', value: hb_bot.token, required: true, placeholder: 'Телеграм API токен'}
  %br
  %input{style: 'width: auto', size: 10, type: 'text', name: 'retry_period', value: hb_bot.retry_period, required: true, placeholder: 'Easypay интервал'}
  %input{style: 'width: auto', size: 10, type: 'text', name: 'reserve_interval', value: hb_bot.reserve_interval, required: true, placeholder: 'Резервирование клада на'}
  %input{style: 'width: auto', size: 10, type: 'text', name: 'ref_rate', value: hb_bot.ref_rate, required: true, placeholder: 'Реферальные, %'}
  -#- OVERVIEW.each do |d|
  -#  - d.each do |colname, cols|
  -#    %h3= colname.to_s
  -#    - @sets.each do |d|
  -#      - if cols.include?(d[:column_name])
  -#        .setting
  -#          - key = d[:column_name]
  -#          - val = @overview_bot[key.to_sym]
  -#          - comment = d[:comment]
  -#          = comment
  -#          - if COL_OPTIONS.first[key.to_sym].nil?
  -#            - if key == 'description'
  -#              %br
  -#              %textarea{style: 'width: auto', cols: 60, rows: 6, name: 'description', required: true}= val
  -#            - else
  -#              %input{style: 'width: auto', type: 'text', name: key, value: val, required: true}
  -#          - else
  -#            %input{style: 'width: auto', type: 'radio', name: key, required: true, value: 0, checked: val == 0}
  -#            = COL_OPTIONS.first[key.to_sym][0]
  -#            %input{style: 'width: auto', type: 'radio', name: key, required: true, value: 1, checked: val == 1}
  -#            = COL_OPTIONS.first[key.to_sym][1]
  -#    %br
  %h3 Иконки бота
  %p
    Выбирайте emoji из списка доступных. Бот будет использовать назначенные Вами иконки или возьмет иконки по умолчанию.
    %br
    Список доступных иконок
    %a{href: 'https://www.webpagefx.com/tools/emoji-cheat-sheet/'} можно посмотреть тут.
    - @icons.each do |d|
      - if d[:column_name] != 'id'
        .setting
          - val = @overview_bot[d[:column_name].to_sym]
          - key = d[:column_name]
          - comment = d[:comment]
          = icn(val)
          = comment
          %input{type: 'text', size: '22', name: key, value: val}
  %div.clear= "&#160;"
  %input{type: 'submit', value: 'Сохранить все настройки'}
  %select{name: 'status'}
    %option{value: Bot::ACTIVE, selected: @overview_bot.status == Bot::ACTIVE} Активный
    %option{value: Bot::INACTIVE, selected: @overview_bot.status == Bot::INACTIVE} Неактивный
