%img.ava{src: bot.avatar, width: '150px', height: '150px'}
%a.big.no-wrap.blue{href: url("/s/#{bot.tele}")}
  = bot.title.truncate(14)
- if hb_prev_filter.class.name.downcase != 'country'
  = icn('back')
- if !bot.awards.nil?
  %span.normal= bot.awards
%br
= icn('+1')
%b= Rank::positive(bot.beneficiary)
= icn('-1')
%b= Rank::negative(bot.beneficiary)
= icn('speech_balloon')
%b= bot.abuses.count
%br
= bot.link_no_title
%a.bold{href: bot.link}= "Ветки"
= kladov(bot.active_items)
