%img.ava{src: bot.avatar}
%a.big{href: url("/s/#{bot.tele}")}
  = bot.title.truncate(14)
- if !bot.awards.nil?
  %span.large= bot.awards
%br
= icn('+1')
%b= Rank::positive(bot.beneficiary)
= icn('-1')
%b= Rank::negative(bot.beneficiary)
= icn('speech_balloon')
%b= bot.abuses.count
%br
= bot.link_no_title
%a.bold{href: bot.link}= "Ветки"
= kladov(bot.active_items)
